
body{
    font-size: 30px;
    /* display:flex; */
    font-family: 'Courier New', Courier, monospace;
}

body div{
    margin: 20px auto;
}

.A{
    background:hsl(180,100%,50%);
    width: 300px;
    height:150px;
    border-width: 10px;
    border-style: outset;
    border-radius: 0%/50%;

    /* float: left; */
}

.B{
    background:#f8f;
    width: 300px;
    height: 150px;
    border-width: 10px;
    transform-box: stroke-box;
    /* float: left; */
}

.C{
    background: #ff8;
    width: 300px;
    height: 150px;
    /* float: left; */
}

.de{
    width: 320px;
    margin: 0px auto;
}

.de div{
    margin-top: 0px;
}

.D{
    background: #88f;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    float: left;
}

.E{
    background: #f88;
    width: 150px;
    height: 150px;
    float: left;
}